@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  <div class="form-row">
      <div class="row">
        <div class="col-md-12 col-xs-12 table-col">
          <div class="table-responsive">
            <table id="search-card-table" class="display table table-bordered table-stripped">
              <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
              </thead>
                <tr>
                  <td width="10%"></td>
                  <td width="10%"><input id="toDoDescp" type="text" placeholder="" class="fm-txt form-control inputSearch" /></td>
                  <td width="10%"></td>
                  <td width="10%"></td> 
              </tr>
              
            </table>
          </div>
          <!-- Table Ends -->
        </div>
      </div>
    </div>
</div>
